<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dap.meau">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ErroSessaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Blue"></activity>
        <activity
            android:name=".CadastroPessoalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Blue" />
        <activity
            android:name=".PerfilUsuario"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Blue" />
        <activity android:name=".CadastroAnimalActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PerfilAnimal" />
        <activity
            android:name=".InitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Blue" />
        <activity
            android:name=".ConfirmationActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>